<form [formGroup]="signUpForm" (ngSubmit)="signUpHandler()">
  <label for="username">Enter your desired Username!</label>
  <input type="text" [formControl]="signUpForm.controls.username">
  <label for="password">Enter your password</label>
  <input type="password" [formControl]="signUpForm.controls.password">
  <label for="password_confirmation">Re-enter your password</label>
  <input type="password" [formControl]="signUpForm.controls.password_confirmation">
  <button type="submit" [disabled]="!signUpForm.valid">Sign Me Up!</button>
</form>

<h3>Credential Requirements</h3>
<ul>
  <li>
    <p>Username must be between 5-15 characters</p>
  </li>

  <li>
    <p>Password must be at least 8 characters</p>
  </li>
  <li>
    <p>Your passwords must match</p>
  </li>
  <li>
    <p>Your Username must be unique. If you are meeting all other requirements, try adjusting your username</p>
  </li>
</ul>