
<h3>Add Book to List</h3>
  <form [formGroup]="newBook">
    <input type="string" name="title" [formControl]="newBook.controls.title" placeholder="Enter book title">
    <input type="string" name="author" [formControl]="newBook.controls.author" placeholder="Enter book author">
    <select type="boolean" name="read" [formControl]="newBook.controls.read" placeholder="Have you read this book?">
      <option value="true">Yes</option>
      <option value="false">No</option>
    </select>
    <button type="submit" onclick="createHandler()">Submit</button>
  </form>

<h3>Remove Book from List</h3>
<h3>Update existing Book</h3>

<div class="book-card">
  <h3>List of Books</h3>
  @for (b of books(); track b.id){
    <p>{{b.title}}</p>
    <p>{{b.author}}</p>
    <p>{{b.read}}</p>
  }
</div>

