
<h3>Add Book to List</h3>
  <form [formGroup]="newBook" (ngSubmit)="createHandler()">
    <label for="title">Title: </label>
    <input type="text" name="title" [formControl]="newBook.controls.title" placeholder="Enter book title">
    <label for="Author">Author: </label>
    <input type="text" name="author" [formControl]="newBook.controls.author" placeholder="Enter book author">
    <label for="read">Have you read this book? </label>
    <select type="boolean" name="read" [formControl]="newBook.controls.read" >
      <option value="true">Yes</option>
      <option value="false">No</option>
    </select>
   <button type="submit" [disabled]="!newBook.valid">Submit</button>
  </form>

  <h3>Look up book by ID</h3>
  <form [formGroup]="findSingleBookForm">
    <label for="bookID">What is the book you are looking for?</label>
    <input type="number" name="bookID" [formControl]="findSingleBookForm.controls.bookID" placeholder="0">
    <button type="submit" (click)="showBookByIDHandler()">Find Book</button>
  </form>

  <h3>List of Books</h3>
  <button (click)="showAllHandler()">Reload List</button>
  @for (b of books(); track b.id){
   <div class="book-card">
    <p>Book ID: {{b.id}}</p>
    <p>Title: {{b.title}}</p>
    <p>Author: {{b.author}}</p>
    @if (b.read){
      <p>Read Status: You have read this book!</p>
    } @else {
    <p>Read Status: You have not read this book</p>
    }
    <button onclick="displayUpdateContainer(true)">Update Book</button>
    <button (click)="deleteHandler(b.id, b.title, b.author)" class="danger-button">Delete Book</button>
   </div>

   @if(displayUpdateContainer()){
    <div class="update-container">
      <form [formGroup]="updateBookForm" (ngSubmit)="updateHandler()">
        <label for="title">Title: </label>
      <input type="text" name="title" [formControl]="updateBookForm.controls.title" placeholder="Enter book title">
      <label for="Author">Author: </label>
      <input type="text" name="author" [formControl]="updateBookForm.controls.author" placeholder="Enter book author">
      <label for="read">Have you read this book? </label>
      <button type="submit">Submit</button>
      <button (click)="displayUpdateContainer()">Cancel</button>
      </form>
    </div>
   } @else {

   }
  
  }


